img {
    width: 300px;
    background-image: url("./images/logomakr.com:3PJpjV.png");
    max-width: 100%;
    height: auto;
  }

.container {
    margin-top:50px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom:10px;
    text-align: center;
    font-family: serif;
    background-color: rgb(0, 0, 0);
    color: lightgrey;
    border-radius: 40px;
}

#titleName {
    text-decoration: underline;
    text-decoration-color: white;
    font-size: 80px;
    color: rgb(121, 121, 121);
}

svg {
    color: white;
}

#line {
    background-color: darkgrey;
}

#form {
    padding:20px;
}

.form-group {
    text-align: center;
    font-size: 25px;
    font-family: serif;
}

body {
    background-color: rgb(78, 78, 78);
    background-image: url("../images/finishline.jpg");
}

.table, p {
    color: white;
}

@media only screen and (min-width: 750px) {
    #gameImg {
        max-width:300px;
    }
    .values {
        font-size: 70px;
    }
    p {
        font-size: 35px;
    }
    
    p2 {
        font-size: 20px;
        float:left;
        color: lightgrey;
    }
    
    p3 {
        font-size: 20px;
        float:right;
        color: lightgrey;
    }
}