.container {
    padding: 100px;
    text-align: center;
    
}

.form-group {
    text-align: center;

}

body {
   
}

img {
    border-radius: 4px;
    width: 250px;
    background-image: url("../images/logomakr.com:3PJpjV.png");
  }
  
